@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d121c;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.kanban-task {
  transition: transform 0.2s ease, opacity 0.3s ease-in-out;
}

.kanban-task.dragging {
  opacity: 0.6;
  transform: scale(1.05);
}

